@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Hahmlet";
}

*{
    margin: 1em;
    padding: 0.5em;
}

.full {
    background: url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
    font-family: "Hahmlet";
}

#output {
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid #013a5c;
    padding: 10px;
    float: none;
    text-align: left;
}

input{
    border-radius: 3px;
    border: none;
}

#send{
    transition: all 0.45s ease-out;
    width: 100px;
    outline: none;
    border: none;
    margin-top: 1em;
}

#send:hover{
    box-shadow: inset 100px 0 0 0 #d8f0dd;
    transform: scale(1.16);
    color: #464f48;
    outline: none;
}

ul{
    list-style: none;
    text-decoration: none;
}

ul li{
    display: inline-block;
}

#checkBtn{
    color: #f6fff8;
}

#error_exception{
    padding: 0.5em;
}