@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

body{
    margin: 0;
    padding: 0;
}

input{
    border-radius: 3px;
    border: none;
}

*{
    margin: 1em;
    padding: 0.5em;
}

.full {
    background: url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
    font-family: "Hahmlet";
}

#login_btn{
    transition: all 0.45s ease-out;
    width: 100px;
    outline: none;
    border: none;
    overflow: hidden;
}

#login_btn:hover{
    box-shadow: inset 100px 0 0 0 #d8f0dd;
    transform: scale(1.16);
    color: #464f48;
    outline: none;
    overflow: hidden;
}

#error_exception{
    padding: 0.5em;
}