@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

body{
    background: url("bg.jpg");
    margin: 0;
    padding: 0;
}

input{
    border-radius: 3px;
    border: none;
}

*{
    margin: 1em;
    padding: 0.5em;
}

.container{
    font-family: "Hahmlet";
}

#login_btn{
    box-shadow: 9px 6px 11px #464f48;
    transition: all 0.45s ease-out;
    width: 100px;
    outline: none;
    border: none;
}

#login_btn:hover{
    transform: scale(1.16);
    color: #464f48;
    box-shadow: inset 100px 0 0 0 #d8f0dd, 9px 6px 11px #464f48;
    outline: none;
}